name: Release

on:
  push:
    branches:
      - main
      - dev
    tags:
      - v*
  workflow_dispatch:

jobs:
  build-test:
    name: Build and Test
    runs-on: ubuntu-latest
    concurrency:
      group: release-workflow-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: npm

      - name: Install dependencies
        run: npm clean-install

      - name: Generate prisma client
        run: npx prisma generate

      - name: Build project
        run: npm run build

      - name: Test project
        run: npm run test

  release:
    name: Create Release
    needs: build-test
    runs-on: ubuntu-latest
    concurrency:
      group: release-workflow-${{ github.ref }}
      cancel-in-progress: true

    outputs:
      RELEASE_VERSION: ${{ steps.version.outputs.version }}

    steps:
      - name: Get GitHub Token
        id: get-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.ISD_INFRA_APP_ID }}
          private-key: ${{ secrets.ISD_INFRA_PRIVATE_KEY }}

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          token: ${{ steps.get-token.outputs.token }}

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: npm

      - name: Install dependencies
        run: npm clean-install

      - name: Generate prisma client
        run: npx prisma generate
     
      - name: Create Release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ steps.get-token.outputs.token }}

      - name: Save Release Version
        id: version
        run: echo "version=$(cat .release-version)" >> $GITHUB_OUTPUT

  docker-build:
    name: Build and Push Docker Image
    needs: release
    runs-on: ubuntu-latest
    concurrency:
      group: docker-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up docker meta
        id: docker-meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=semver,pattern={{raw}},value=${{ needs.release.outputs.RELEASE_VERSION }}
            type=semver,pattern=v{{major}}.{{minor}},value=${{ needs.release.outputs.RELEASE_VERSION }}
            type=semver,pattern=v{{major}},value=${{ needs.release.outputs.RELEASE_VERSION }}
            type=raw,value=stable,enable=${{ github.ref_name == 'main' }}
            type=raw,value=dev,enable=${{ github.ref_name == 'dev' }}
            type=sha,prefix=,suffix=${{ github.actor }}
            type=sha

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ steps.docker-meta.outputs.tags }}
          labels: ${{ steps.docker-meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
